@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

body {
    font-family: Verdana, sans-serif;
}

h1 {
    color: #b80;
    font-variant: small-caps;
    margin: 0px 0px 8px 0px;
}

h2 {
    font-variant: small-caps;
    margin: 4px 0px 4px 0px;
    display: inline-block;
}

h3 {
    font-variant: small-caps;
    margin: 4px 0px 4px 0px;
}

p {
    margin: 4px;
}

table {
    border-collapse: collapse;
}

tr:first-of-type {
    border-bottom: 1px solid black;
}

td {
    padding: 2px 2px 2px 8px;
}

th {
    padding: 2px 4px 2px 4px;
}

tr td:nth-of-type(1) {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#successChart div {
    border: none;
    margin: 2px;
    padding: 2px;
}

#bigbox {
    position: relative;
    display: inline-block;
    background-color: #da3;
    padding: 5px;
}

#leftbox {
    position: relative;
    float: left;
}

#tabs {
    white-space: nowrap;
}

#options {

}

#trickAoptions, #trickBoptions {
}

#theGraph {
    float: left;
    background-color: white;
}

#successChart {

}

#controls {

}

#options div{
    padding: 3px;
}

#trickALabel {
    color: #339966;
}

#trickBLabel {
    color: #e68a00;
}


.titletopper {
    margin: 0px;
    padding: 0px;
    color: #b80;
    font-variant: small-caps;    
    font-weight: bold;
}

.jqplot-table-legend:nth-of-type(2) {
    margin-left: 70px;
}

.ui-button-text {
    padding: 4px 8px 4px 8px !important;
}

.ui-selectmenu-button {
    float:left;
    margin: 4px 0px 0px 4px;
}

.ui-selectmenu-text {
    padding: 4px 0px 4px 8px;
    font-size: 12px;
}
