@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

body {
    font-family: Verdana, sans-serif;
}

h1 {
    color: #b80;
    font-variant: small-caps;
    margin: 0px 0px 8px 0px;
}

h2 {
    color: #b80;
    font-variant: small-caps;
    margin: 4px 0px 4px 0px;
    display: inline-block;
}

h3 {
    font-variant: small-caps;
    margin: 4px 0px 4px 0px;
}

hr {
    border: 1px solid #650;
    width: 80%;
}

p {
    margin: 4px;
}

table {
    border-collapse: collapse;
}

tr:first-of-type {
    border-bottom: 1px solid black;
}

td {
    padding: 2px 2px 2px 8px;
}

th {
    padding: 2px 4px 2px 4px;
}

tr td:nth-of-type(1) {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#successChart div {
    border: none;
    margin: 2px;
    padding: 2px;
}

#theGraph {
    border: 2px solid #b80;
    background-color: rgb(250, 240, 190);
}

#successChart {
    background-color: rgb(250, 240, 190);
}

#bigbox {
    position: relative;
    display: inline-block;
    background-color: #da3;
    padding: 5px;
}

#leftbox {
    position: relative;
    float: left;
    width: 180px;
}

#tabs {
    white-space: nowrap;
}

#options {

}

#trickAoptions, #trickBoptions {
    padding: 3px;
}

#theGraph {
    float: left;
    background-color: white;
}

#successChart {

}

#controls {

}

#trickALabel {
    color: #339966;
}

#trickBLabel {
    color: #e68a00;
}

#sliderA, #sliderB{
    width: 80%;
}

.sliderbox {
    padding-left: 5px;
}

.sliderbox div {
    display: inline-block;
}

.titletopper {
    margin: 0px;
    padding: 0px;
    color: #b80;
    font-variant: small-caps;    
    font-weight: bold;
}

.uncertainty {
    color: #999;
}

.jqplot-table-legend:nth-of-type(2) {
    margin-left: 70px;
}

.ui-button-text {
    padding: 4px 8px 4px 8px !important;
}

.ui-selectmenu-button {
    float:left;
    margin: 4px 0px 0px 4px;
    width: 150px !important;
}

.ui-selectmenu-text {
    padding: 4px 0px 4px 8px;
    font-size: 14px;
}

.jqplot-yaxis-label {
    transform: rotate(270deg);
    width: 15px !important;
}

.jqplot-yaxis {
    width: 40px !important;
}

.jqplot-xaxis-label {
    height: 15px !important;
}

.jqplot-xaxis {
    height: 30px !important;
}

#colinlinks {
    padding: 6px;
}

#colinlinks p {
    margin: 0px;
    font-size: small;
}